<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Login</title>
    <link th:href="@{/css/userlogin.css}" rel="stylesheet">
</head>
<body>
<div class="userlogincontainer">
    <div class="split left">
        <div class="left-container">
            <p><span style="font-size:38px;">Sign In</span></p>
            <form th:action="@{/handleUserLogin}" th:object="${user}" method="post">

                <p>Email*</p>

                <p><input maxlength="50" name="email" type="email" th:field="*{email}"/></p>

                <p>Password*</p>

                <p><input maxlength="25" name="password" type="password" th:field="*{password}"/></p>

                <p align="center"><a href="/forgotpassword">Forgot Password?</a></p>

                <p><input class="btn" name="Login" type="submit" value="Login"/></p>
            </form>

            <p>Not registered yet? <a href="/signup">Create an account</a></p>
            <p>Are you a vendor? Try <a href="/businesslogin">Business Login</a></p>
        </div>
    </div>
    <div class="split right">
        <img th:src="@{/images/userlogin.jpg}" class="image">
    </div>
</div>
</body>
</html>
